* {
    box-sizing: border-box;
}

html,body,div{
    margin: 0px;
    padding: 0px;
    height:100%;
    width:100%;
    overflow: visible;
}

html {
   margin: 0px;
   padding: 0px;
   height: 100%;
   width: 100%;
}

#main {
    background-image: url(images/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-color: red;

    padding: 55px 50px;
}

#main-elements {
    overflow: visible;
    padding: 30px;
}

#step-by-step {
    margin: 0px 0px 10px 0px;
    height: 40%;
}

#step-by-step img {
    width: 275;
    height: 275;
    overflow: visible;
}

#welcome {
    height: 20%;
}

#welcome img {
    width: 30%;
    height: 100%;
    margin: 0px 35%;
}

#view-content {
    margin: 10px 0px 0px auto;
    height: 40%;
}

#view-content img {
    width: 275;
    height: 275;
    overflow: visible;
}