* {
    box-sizing: border-box;
}

html,body,div{
    margin: 0px;
    padding: 0px;
    height:100%;
    width:100%;
}

html {
   margin: 0px;
   padding: 0px;
   height: 100%;
   width: 100%;
}

#main {
    background-image: url(images/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-color: red;
    padding: 55px 50px;

    
}

#main-elements {
    overflow: visible;
    padding: 30px;

    display: flex;
    justify-content: center;
}

#step-by-step {
    display: flex;
    box-sizing: content-box;
    justify-content: center;
    align-items: start;
}

#step-by-step img {
    width: 300;
    height: 300; 
}

#welcome {
    display: flex;
    justify-content: center;
    align-items: center;
}

#welcome img {
    width: 600px;
    height: 300px;
    overflow: visible;
    box-shadow: 10px 10px 5px lightblue;
}

#view-content {
    display: flex;
    box-sizing: content-box;
    justify-content: center;
    align-items: flex-end;
    overflow: visible;
}

#view-content img {
    width: 300;
    height: 300;
    overflow: visible;
}