* {
    box-sizing: border-box;
}

html,body,div{
    margin: 0px;
    padding: 0px;
    height:100%;
    width:100%;
}

html {
   margin: 0px;
   padding: 0px;
   height: 100%;
   width: 100%;
}

.button {
    filter: drop-shadow(5px 5px 20px #000000);
}

.button:hover {
    filter: drop-shadow(5px 5px 20px #868686);
}

#main {
    background-image: url(images/mainbackground.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-color: red;
    padding: 55px 50px;
}

#main-elements {
    overflow: visible;
    padding: 30px;
    display: flex;
    justify-content: center;
}

#step-by-step {
    display: flex;
    box-sizing: content-box;
    justify-content: center;
    align-items: start;
}

#step-by-step img {
    width: 300px;
    height: 300px; 
}

#welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: auto;
    overflow: visible;
}

#text {
    border-radius: 10px;
    background-color: aliceblue;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid #880808;
}

#top {
    margin-bottom: 8px;
    filter: drop-shadow(-5px 5px 3px #000000);
    max-width: 500px;
}

#bottom {
    margin-top: 8px;
    filter: drop-shadow(-3px 3px 0px #880808);
    max-width: 500px;
}

#view-content {
    display: flex;
    box-sizing: content-box;
    justify-content: center;
    align-items: flex-end;
}

#view-content img {
    width: 300px;
    height: 300px;
}