* {
    box-sizing: border-box;
}

html,body,div{
    margin: 0px;
    padding: 0px;
}

html {
   margin: 0px;
   padding: 0px;
   height: 100%;
   width: 100%;
}

#main {
    background-image: url(../images/backgroundfortext.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-color: #83243d;
    padding: 0px 80px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    overflow: visible;
    height: 100%;
}

#main-elements {
    display: flex; 
    flex-direction: column;
    margin-left: 30px;

    overflow: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
}

#section {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 10px;
    height: fit-content;
}

#step {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
    height: fit-content;
}

#content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 10px
}

#content p {
    text-wrap: pretty;
}

#navigation-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    position: sticky;
    height: 80px;
    background-color: #83243d;
}

#navigation-buttons * {
    width: 125px;
    height: 50px;
}

#navigation-buttons img {
    border: 5px solid grey;
    border-radius: 5px;
    box-shadow: -2px -2px 5px black,
                2px 2px 5px black,
                -2px 2px 5px black,
                2px -2px 5px black;
}

#next-button {
    height: 80px;
    width: 100%;
    background-color: #83243d;
    justify-self: flex-end;
    display: flex;
    align-content: center;
    justify-content: flex-end;
}

#next-button a,img {
    width: 170px;
    height: 68px;
}

#next-button a {
    display: block;
}
#next-button img {
    border: 5px solid darkred;
    border-radius: 20px;
    box-shadow: -2px -2px 5px black,
                2px 2px 5px black,
                -2px 2px 5px black,
                2px -2px 5px black;
}