* {
    box-sizing: border-box;
}

html,body,div{
    margin: 0px;
    padding: 0px;
}

html {
   margin: 0px;
   padding: 0px;
   height: 100%;
   width: 100%;
}

#main {
    background-image: url(../images/table-of-contents-background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-color: #6b0f28;
    display: flex;
    justify-content: center;
    justify-self: center;
    align-content: center;
    align-self: center;
    flex-direction: column;
    overflow: visible;
    height: 100%;
}

#main-elements {
    display: flex;
    flex-direction: column;
    height: 570px;
    width: 459px;
    justify-content: space-evenly;
}

.section {
    display: flex;
    flex-direction: column;
}

.section a {
    text-align: center;
    background-color: #6b0f28;
    color: aliceblue;
    text-decoration: none;
    margin: 3px 0px;
}

.section h3 {
    margin: 3px 0px;
}